/* .dropdown-item.selected::before {
    content: "✓ ";
}

.dropdown, #selected-language {
    background-color: transparent;
    color: black;
    font-weight: bold;
    outline: none;
    border: none;
}

 */
 .mask-youtube {
    position: absolute;
    background: rgba(0,0,0,0);
    width: 385px;
    height: 250px;
    top: 0;
    left: 0;
  }