.home-page-title {
    margin: 30px 0;
}
.progress-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 1rem;
}

.progress-card {
    border: none;
    padding: 2rem 1.25rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    height: 354px;
    align-items: start;

    min-height: 330px;
    max-width: 272px;
    width: 272px;
    min-width: 272px;
}

.circle {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    min-width: 217px;
    position: relative;
}

.circle-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.25;
}

.circle-title-icon {}

.circle-title-icon svg {
    height: 1em;
    line-height: inherit;
    vertical-align: middle;
    width: 1em;
}

.circle-title-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5;
}

.circle-progress {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    position: relative;
    height: 8rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.circle-progress-icon {
    position: absolute;
}

.progressRing {
    display: block;
}

.progressRing svg {
    height: 8rem;
    width: 8rem;
}

.progressRing-1 {
    stroke: rgb(93, 231, 192);
    fill: none;
}

.progressRing-2 {
    stroke: rgb(227, 255, 247);
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.circle-text {
    text-align: center;
}

.circle-text p {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5;
    color: rgb(255, 255, 255);
}


.next-activity-card {
    height: min-content;
    min-height: 360px;
    max-width: 314px;
    width: 314px;
    min-width: 314px;
    background-color: rgb(41, 55, 73);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.75rem;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    box-shadow: rgb(204, 150, 0) 0px 0.25rem 0px 0px;
    display: none;
}

.activity-card-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.5;
}

.activity-card-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.scenarioCard-first {
    background-color: rgb(246, 246, 246);
    width: 100%;
    min-width: 11rem;
    height: 8rem;
    padding: 0.75rem 0px 0.75rem 0.75rem;
    border-style: solid;
    border-color: rgb(255, 201, 51);
    border-image: initial;
    border-width: 0px 0px 4px;
    border-radius: 0.75rem;
    cursor: pointer;
    position: relative;
}

.scenarioCard-first-content {
    margin-right: 0.25rem;
    align-items: stretch;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: 0px;
}

.scenarioCard-first-content:only-child {
    height: 100%;
}

.scenarioCard-content {
    width: 90%;
    margin: 0px;
    align-items: stretch;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: 0px;
}

.scenarioCard-content-title {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0px;
}

.ScenarioCardInProgress-Wrapper-title {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0px;
}

.scenarios-button-second {
    border: none;
    min-height: 2.75rem;
    padding: 0px 1rem;
    border-radius: 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    background: rgb(255, 187, 0);
    color: rgb(0, 17, 34);
    box-shadow: rgb(204, 150, 0) 0px 0.25rem 0px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scenarios-button-second:hover {
    background: rgb(255, 202, 88);
}
.scenarios-button-second:disabled {
    background: rgb(226, 223, 217);
    cursor: not-allowed;
}

.scenarios-button-second-title {
    margin: auto;
}

.scenarios-button-third {
    min-height: 2rem;
    padding: 0px 1rem;
    border-radius: 0.75rem;
    border: 1px solid rgb(255, 187, 0);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    background: rgb(41, 55, 73);
    color: rgb(255, 187, 0);
    box-shadow: none;
    cursor: pointer;
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.active-card {
            min-height: 330px;
            max-width: 600px;
            width: 600px;
            min-width: 600px;
}

.active-card .next-activity-card {
    display: block;
}