/* .dropdown-item.selected::before {
    content: "✓ ";
}

.dropdown, #selected-language {
    background-color: transparent;
    color: black;
    font-weight: bold;
    outline: none;
    border: none;
}

 */