.dot {
    height: 5px;
    width: 5px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
  }
  .multichoice{
    /* display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px; */
    margin-top: 10px;
    margin-left: 100px;
  }
  /* .choice{
    display: flex;
    gap: 5px;
  } */